/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-color: #ffffff;
  z-index: 0;
  min-inline-size: 320px;
  min-block-size: 100vh;
  font-family: var(--main-font);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-font-weight);
  /* остальные ваши стили */
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 960px;
  background-image: var(--background-image);
  z-index: -1;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #fff;
  text-align: center;
  margin-top: 100px;
  margin-block-end: 98px;
  min-block-size: 368px;
  gap: 20px;
  padding-block: clamp(122px, calc(0.75vw + 119.2px), 130px);
  padding-inline: clamp(16px, calc(10vw - 21.5px), 122.5px);
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(49px, calc(1.5vw + 43.4px), 65px);
  line-height: 1;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(14px, calc(0.85vw + 10.8px), 23px);
  line-height: 1;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
  margin-top: 50px;
}

.content-section {
  width: var(--content-width);
  margin-inline: auto;
}

.card__title {
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid #000;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-1 {
  filter: opacity(0.8);
}
.image-2 {
  filter: blur(2px);
}

.image-3 {
  filter: hue-rotate(340deg);
}

.image-4 {
  filter: saturate(150%);
}
.image-5 {
  filter: sepia(40%);
}
.image-6 {
  filter: hue-rotate(40deg);
}

.image-7 {
  filter: saturate(120%) brightness(1.1);
}

.image-8 {
  filter: brightness(120%);
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: var(--label-opacity);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (
  (-webkit-text-stroke: 1px var(--label-stroke-color)) or
    (text-stroke: 1px var(--label-stroke-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__content {
  padding: 25px;
  display: grid;
  gap: 20px;
}

.card__text {
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-weight);
}

.button {
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}



.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 36px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

@keyframes left-right {
  from {
    translate: calc(-100% - 8px) -50%;
  }

  to {
    translate: calc(-100% - 4px) -50%;
  }
}

@keyframes change-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes change-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

.card__icon-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  border-width: 2px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 130px;
  height: 38px;
  background-color: #fff;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.card__like-button:hover {
  background-color: #000;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
  transform: translateY(-1px);
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  font-size: 14px;
  line-height: 90%;
}

.save-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 335px;
  height: 55px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.save-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transform: translateY(-1px);
}

.save-button__icon {
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.dialog {
  display: none;
  box-sizing: border-box;
  padding: 30px;
  border: 2px solid #000;
  inline-size: 353px;
  block-size: 191px;
}

.dialog[open] {
  display: grid;
  grid-template-rows: 63px 38px;
  row-gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 12px;
}

.dialog-icon {
  display: block;
  inline-size: 39px;
  block-size: 39px;
  fill: currentColor;
}

.dialog__text {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-family: var(--accent-font);
}

.dialog__button {
  inline-size: 100%;
  block-size: 38px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transform: translateY(-1px);
}


.save-button,
.card__like-button,
.dialog__button {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.save-button::after,
.card__like-button::after,
.dialog__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
}

.button:hover::after,
.card__like-button:hover::after,
.dialog__button:hover::after {
  transform: scaleX(1);
}
